src/main/resources/schemas/covid-case-xml-schema.xsd

<xs:schema attributeFormDefault="unqualified" elementFormDefault="qualified" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:element name="covidCase">
    <xs:complexType>
      <xs:sequence>
        <xs:element name="caseID" type="xs:unsignedByte" />
        <xs:element name="source" type="xs:string" />
        <xs:element name="caseType" type="xs:string" />
        <xs:element name="firstName" type="xs:string" />
        <xs:element name="lastName" type="xs:string" />
        <xs:element name="phone" type="xs:string" />
        <xs:element name="email" type="xs:string" />
        <xs:element name="dateOfBirth" type="xs:date" />
        <xs:element name="nationalID" type="xs:string" />
        <xs:element name="nationalIDType" type="xs:string" />
        <xs:element name="address">
          <xs:complexType>
            <xs:sequence>
              <xs:element name="streetAddress" type="xs:string" />
              <xs:element name="city" type="xs:string" />
              <xs:element name="state" type="xs:string" />
              <xs:element name="postal" type="xs:unsignedShort" />
              <xs:element name="country" type="xs:string" />
            </xs:sequence>
          </xs:complexType>
        </xs:element>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>